.card-box {
    width: 300px;
    padding: 10px;
    margin-top: 30px;
    border-bottom: 2px var(--theme-color) solid;
}

.card-input {
    width: 100%;
    font-size: var(--font-l);
    margin-bottom: 20px;
}

.card-button {
    width: 100%;
    margin-top: 10px;
    font-size: var(--font-xl);
}

.card-title {
    padding: 10px 10px 20px 10px;
    text-align: center;
    font-size: var(--font-xl);
}

.card-section {
    padding: 10px 50px;
}

.card-info-text-cont {
    text-align: center;
    margin: 5px;
}
