.dropdown {
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;
}
.dropdown:focus .dropdown-cont, .dropdown:focus .dropdown-btn {
    display: block;
    background-color: var(--theme-color);
}

.dropdown-btn {
    padding: 10px;
}
.dropdown-btn:hover {
    background-color: var(--theme-color);
}

.dropdown-cont {
    display: none;
    position: absolute;
    background-color: var(--back-color);
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-item {
    padding: 10px 40px 10px 10px;
}
.dropdown-item:hover {
    background-color: var(--theme-color-d);
}
