.header-main {
    z-index: 2;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 2px var(--theme-color) solid;
}

.header-input {
    width: 15%;
    margin-left: 15px;
    font-size: var(--font-l);
}

.header-item {
    display: inline-block;
    padding: 15px;
    font-size: var(--font-l);
    cursor: pointer;
}
.header-item:hover {
    background-color: var(--theme-color);
}

.header-logo {
    width: 40px;
    margin: -15px;
    padding: 0 5px;
}
