body {
  background-color: var(--back-color-d);
  font-family: monospace;
  color: var(--font-color);
  margin: 0;
  font-size: var(--font-m);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

.theme-box {
    background-color: var(--back-color);
    border-bottom: 1px var(--theme-color) solid;
}

.float-right {
    float: right;
}

.position-right {
    right: 0;
}
