.media-cont {
    padding: 10px;
}

.media-bar-item {
    display: inline-block;
    padding: 10px;
}
.media-bar-item:hover {
    cursor: pointer;
}

.media-text {
    padding: 10px 0;
}

.media-section {
    padding: 10px;
    background-color: var(--back-color-l);
    border-radius: 5px;
}

.media-bar-icon {
    width: 20px;
}

.media-bar-icon-value {
    display: inline;
}

.media-button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.media-textarea {
    width: 99%;
}

.media-date {
    padding: 5px 10px;
    color: var(--font-color-l);
}

.media-bar {
    display: inline-block;
    width: 100%;
}

.media-info-text-cont {
    color: var(--font-color-l);
}
