@media screen and (max-width: 80rem) {
    .page-temp-main {
        width: 95%;
    }

    .header-input {
        margin-left: 10px;
        width: 25%;
    }
}

@media screen and (max-width: 50rem) {
    .header-item {
        padding: 10px;
    }

    .header-logo {
        margin: -10px;
        width: 30px;
    }

    .page-temp-main {
        grid-template-columns: 1fr;
        margin-top: 70px;
        width: 99%;
    }

    .page-main {
        margin-bottom: 0;
    }

    .page-side {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .page-side-info {
        display: none;
    }

    .profile-section {
        margin-left: 10px;
        margin-right: 10px;
    }

    .profile-menu-desc {
        margin: 10px;
    }

    .footer-main {
        display: block;
    }
}
