.page-temp-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    width: 60%;
    margin: 80px auto 0 auto;
}

.page-main {
    grid-column: 1/2;
    margin-bottom: 20px;
}

.page-item:not(:last-child) {
    margin-bottom: 20px;
}

.page-side {
    grid-column: 2/3;
}

.info-side {
    text-align: center;
}

.info-side-text {
    display: inline-block;
    padding: 10px;
}

.page-thin-block {
    display: none;
}
