.poll-bar-cont:not(:last-child) {
    margin-bottom: 10px;
}

.poll-bar {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--back-color);
    border-radius: 10px;
}
.poll-bar:hover {
    cursor: pointer;
}
.poll-bar:hover .poll-voted {
    width: 100%;
}

.poll-voted {
    width: 33%;
    background-color: var(--theme-color);
    color: white;
    pointer-events: none;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s ease-in;
}

.poll-bar-amt {
    padding: 5px 0 5px 5px;
}

.poll-info-text-cont {
    color: var(--font-color-l);
}

.poll-info-text {
    display: inline-block;
    margin-top: 5px;
    padding-right: 5px;
}

.poll-info-text:not(:last-child) {
    border-right: 6px var(--font-color-l) dotted;
}

.poll-bar-text {
    position: absolute;
    padding: 5px 7px;
    pointer-events: none;
}
