.settings-cont { padding: var(--space-l); }

.settings-title {
    font-size: var(--font-l);
    text-align: center;
}

.settings-text { margin-bottom: var(--space-l); }

.settings-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}

.settings-menu-item { padding: var(--space-l); }

.settings-item {
    position: relative;

    padding: var(--space-m);
    margin-bottom: var(--space-m);
}

.settings-item-value {
    position: absolute;

    top: 0;
}

.settings-item-key { display: inline-block; }

.settings-section:not(:last-child) { margin-bottom: 40px; }
